<div class="container-fluid">
    <form #loginform="ngForm" (submit)="login(username.value, password.value)">
    <div class="row">
        <div class="col-sm-12" style="text-align:center">
            <div class="row">
                <label class="label-welcome-login">Welcome To Provider App</label>
            </div> 
            <div class="row login-background" style="margin-top: 190px !important;">

                <div class="col-sm-12 form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                        <input class="form-control" id="username" name="username" [ngModel]="username.value" #username="ngModel" appValidateOnBlur app-validateEmail required placeholder="Username" type="text">
                        </div>
                </div>
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                        <input class="form-control" id="password" name="password" #password required placeholder="Password" type="Password" ngModel>
                        </div>
                </div>
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                        <button class="pull-center" type="submit" [disabled]="loginform.invalid || isRequesting" style="width: 100% !important;">Login</button>
                        </div>
                </div>

            </div>
        </div>
        <div *ngIf="errors" class=" col-xs-12 alert  login-error" role="alert">
				 {{errors}}
        </div>             
    </div>
    </form>       
</div>